In [1]:
print(type(4))

<class 'int'>

In [2]:
print("Awesome"[3])

s

In [3]:
print("Hello"[4])

o

In [4]:
print("Hello"[-1])

o

In [5]:
print("123" + "456")

123456

In [15]:
num_char = len(input("What is your name? \n"))
print(num_char)
print(type(num_char))

What is your name?
rohan
5
<class 'int'>

In [19]:
print("your name has " + new_num_char + " characters")

your name has 5characters

In [17]:
new_num_char = str(num_char)

In [22]:
print(70 + float("100.5"))
# here we are converting string into floating point number. And then adding it.

170.5

In [23]:
print(str(70) + str(100))

70100

**Exercise 1**

In [27]:
x = str(input("Enter two digit number "))
result = int(x[0]) + int(x[1])
print(result)

Enter two digit number 39
12

In [28]:
x = 2**4

In [29]:
print(x)

16

### PEMDAS 
Order of priority.
Parenthesis

Exponent

Multiplication

Division

Addition

Subtraction

In [30]:
print(3 * 3 + 3/3 -3)

7.0

In [32]:
print(3 * (3 + 3)/3 -3)

3.0

#### BMI Calculator
Body Mass Calculator

In [44]:
height = float(input("Enter your height\n"))
weight = int(input("Enter your weight\n"))

BMI = weight/ (height **2)

print(BMI)

Enter your height
1.75
Enter your weight
50
16.3265306122449

In [45]:
bmi_int = int(BMI)
print(bmi_int)

16

In [41]:
# Now to print it in whole number
print(round(BMI, 1))

1.4

### f- string

In [46]:
score = 0
height = 1.8
print(f"your score is {score}")

your score is 0

Exercise 2: Your life in weeks

In [65]:
y = input("What is your current age?\n")
x = int(float((y)))

left = int(90 - x)

month = left * 12
weeks = month * 4
days = left * 365

print(f"you have {days} days, {weeks} weeks, and {month} months left.")

What is your current age?
67
you have 8395 days, 1104 weeks, and 276 months left.