In [ ]:
# ðŸš¨ Don't change the code below ðŸ‘‡
student_heights = input("Input a list of student heights ").split()
for n in range(0, len(student_heights)):
  student_heights[n] = int(student_heights[n])
# ðŸš¨ Don't change the code above ðŸ‘†

#Write your code below this row ðŸ‘‡

s = sum(student_heights)
total = len(student_heights)
avg = int(round(s/total))

print(avg)

Input a list of student heights 12 34 56 78 90
54

In [ ]:
# ðŸš¨ Don't change the code below ðŸ‘‡
student_heights = input("Input a list of student heights ").split()

for n in range(0, len(student_heights)):
  student_heights[n] = int(student_heights[n])

# ðŸš¨ Don't change the code above ðŸ‘†

total_height = 0

for height in student_heights:
  total_height += height
print(total_height)


number_of_students = 0
for student in student_heights:
  number_of_students += 1
print(number_of_students)

average_height = round(total_height / number_of_students)

print(average_height)

Input a list of student heights 12 23 45
80
3
27

## Excercise 2:

In [ ]:
# ðŸš¨ Don't change the code below ðŸ‘‡
student_scores = input("Input a list of student scores ").split()
for n in range(0, len(student_scores)):
  student_scores[n] = int(student_scores[n])
print(student_scores)
# ðŸš¨ Don't change the code above ðŸ‘†

#Write your code below this row ðŸ‘‡

highest_score = 0

for score in student_scores:
  if score > highest_score:
    highest_score = score

print(f"The highest score in the class is: {highest_score}")

Input a list of student scores 12 34 56 76 54 89 0
[12, 34, 56, 76, 54, 89, 0]
The highest score in the class is: 89

In [ ]:
min_value = student_scores[0]

for i in student_scores:
  if i < min_value:
    min_value = i
print(min_value)

0

## Exercise 4: Sum of even number between 1 to 100

In [ ]:
#Write your code below this row ðŸ‘‡
s = 0
for i in range(1, 101):
    if i%2==0:
        s += i
print(s)

2550

## Exercise 5: FizzBuzz Job interview question

In [ ]:
#Write your code below this row ðŸ‘‡

for i in range(1, 101):
    if i%3==0 and i%5==0:
        print("FizzBuzz")
    elif i%3 == 0:
        print("Fizz")
    elif i%5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz